<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>


  {{#thankyou}}
  <div class="thanks">Welcome! You are now logged in!</div>
  {{/thankyou}}
  <!-- <h1>Hello, Welcome you are logged in!</h1> -->
  <!-- <form action="/user/add" method="post">

    <input type="text" name="username" placeholder="User Name"><br>
    <input type="text" name="password" placeholder="Password"><br>
    <button type="submit">Submit</button>
  </form> -->
</body>
</html>
