  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>Hello, Please login!</h1>
    <form action="/login" method="post">

  <input type="text" name="username" placeholder="User Name"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <button type="submit">Submit</button>

  </form>
  </body>
  </html>
